<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Saludo</title>

  <!-- Import Google Fonts (Poppins) -->
  <!-- Importa la fuente de Google Fonts (Poppins) -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <!-- Universae Favicon -->
  <link rel="icon" href="https://universae.com/wp-content/uploads/2024/11/FP-FAVICON-NEGATIVO-3.png" type="image/png">
  <style>

    /* Styles for the page body */
    /* Estílos para el cuerpo de la página */
    body {
        background: 
              url('https://www.transparenttextures.com/patterns/cubes.png'),  
              linear-gradient(to bottom, rgb(39, 79, 165), rgb(54, 206, 193)); 
            background-repeat: repeat;
            background-size: auto; 
            font-family: 'Poppins', sans-serif; 
            text-align: center; 
            padding-top: 50px; 
            height: 100vh;
            margin: 0;
    }
    /* Styles for the main title */
    /* Estílos para el título principal */
    h1 { 
            color: rgb(39, 165, 154); 
            font-size: 55px;
            font-weight: 200; 
            margin-bottom: 50px;
            background-color: white; 
            padding: 20px 50px; 
            border-radius: 70px; 
            display: inline-block;
    }
    /* Styles for paragraphs */
    /* Estílos para los párrafos */
    p { 
            color: rgb(254, 254, 254); 
            font-size: 50px;
            font-weight: 200; 
    }
  </style>
</head>
<body>

  <!-- Display personalized greeting -->
  <!-- Muestra el saludo personalizado -->
  <h1>¡Hola, <%= nombre %>!</h1>

  <!-- Inform the user this is a test of GET /saludo route -->
  <!-- Informa al usuario de que es un test de la ruta GET /saludo -->
  <p>Comprobando el GET /saludo</p>
</body>
</html>
